#bars-div{
	width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
*:before,*:after{
	box-sizing:inherit;
}
.button-process {
	margin-left: 15px;
}
.process-percent{
	color: #000!important;
    background-color: #4286f4!important;
}
.w3-grey{
	margin-bottom: 5px;
	background-color: #4286f4!important;
    color: #000!important;
    max-width: 95%;
}
.over-100 p{
	color:red;
}
.label-percent{
	text-align: center;
	padding-top: 4px;
}